﻿@model MesjidCommittee.Models.CommunityMember

@{
    ViewBag.Title = "Edit";
}

<h2 class="dark-theme-h2">Edit</h2>

<div class="edit-form">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CommunityMember</legend>
        @Html.HiddenFor(model => model.CommunityMemberID)
        <div class="dark-theme">
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.FirstName, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "editor-input", data_ng_model = "person.FirstName" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.MiddleName, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.MiddleName, new { @class = "editor-input", data_ng_model = "person.MiddleName" })
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.LastName, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.LastName, new { @class = "editor-input ng-M", data_ng_model = "person.LastName" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "editor-input", data_ng_model = "person.PhoneNumber" })
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.Email, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.Email, new { @class = "editor-input", data_ng_model = "person.Email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.Gender, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.Gender, new { @class = "editor-input", data_ng_model = "person.Gender" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.DateOfBirth, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "editor-input", data_ng_model = "person.DateOfBirth" })
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.Street1, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.Street1, new { @class = "editor-input", data_ng_model = "person.Street1" })
            @Html.ValidationMessageFor(model => model.Street1)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.Street2, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.Street2, new { @class = "editor-input", data_ng_model = "person.Street2" })
            @Html.ValidationMessageFor(model => model.Street2)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.City, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.City, new { @class = "editor-input", data_ng_model = "person.City" })
            @Html.ValidationMessageFor(model => model.City)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.State, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.State, new { @class = "editor-input", data_ng_Model = "person.State" })
            @Html.ValidationMessageFor(model => model.State)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.ZipCode, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.ZipCode, new { @class = "editor-input", data_ng_model = "person.ZipCode" })
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
        <div class='form-row'>
            <div class="input-label">
                @Html.LabelFor(model => model.Age, new { @class = "" })
            </div>
            @Html.TextBoxFor(model => model.Age, new { @class = "editor-input", data_ng_model = "person.Age" })
            @Html.ValidationMessageFor(model => model.Age)
        </div>
        <div class="gen-pad-10">
            <div class="gen-but blue-but" ng-click="saveMember()">Save</div>
        </div>
        </div>
        
    </fieldset>
}

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
