﻿@using System.Web.Script.Serialization
@model IEnumerable<MesjidCommittee.Models.CommunityMember>

@{
    ViewBag.Title = "Index";
}
<script src='@Url.Content("~/Scripts/AngularScripts/IndexVM.js")'></script>
<div id="angular-controller" ng-app="mesjidApp" ng-controller="mesjidIndexVM" data-ng-init="getMembersList()">
    <div id="index-inner-box">
<h2>Community Members</h2>
<div class="margin-top-10 button-link-a inline-block-top">
    <div class="edit-closer gen-but blue-but" ng-click='getAddMemberPartial()'>Add member</div>
</div>

<div class="empty-section-50"></div>
<div class="table-wrapper" >
    <div class="search-box">
        <div class="inline-block-top search-text">Search</div>
        <input type="text" class="editor-input inline-block-mid" ng-model="searchText" />
    </div>
<div class="table">
    <div class="table-row header-row">
        <div class="table-column header-column">Name</div>
        <div class="table-column header-column">Phone</div>
        <div class="table-column header-column">Email</div>
        <div class="table-column header-column"></div>

    </div>
    
        <div ng-repeat="member in membersList | filter:searchText track by $index " class='table-row' 
            ng-class="'row-bg-' + ($index % 2)">
            <div class="table-column">{{ member.FirstName + ' ' + member.LastName }}</div>
            <div class="table-column">{{ member.PhoneNumber }}</div>
            <div class="table-column">{{ member.Email}}</div>
            <div class="table-column">
                <div class="link centered">
                    <div class="link-oj" ng-click='editMember(member.CommunityMemberID)'>Edit</div>
                    @*Html.ActionLink("Edit", "Edit", new { id = item.CommunityMemberID }, new { @class="link"}) *@
                    @*Html.ActionLink("Delete", "Delete", new { id = item.CommunityMemberID }, new { @class="link"})*@
                </div>
            </div>
        </div>

    </div>
    
<div class="empty-section-100"></div>


</div>
    </div>
    <div class="modal-bg"></div>
    <div id="add-member-div" class="add-member-modal"></div>
    <div id="right-edit-panel" class="fixed-edit-panel right-fixed-edit-panel">
        <div class="left-close-bar edit-closer" ng-click="clearPersonData()">
            <div class="close-bar-text">></div>
            <div class="close-bar-hack-text-to-mid"></div>
        </div>
        <div id="edit-panel-box" class="edit-panel-box center"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.modal-bg').on('click', function () {
            hideModals();
        });
        $('#add-member-button').on('click', function () {
            showModalBg();
        });
        $('.edit-closer').on('click', function () {
            $('#right-edit-panel').animate({ width: 0 }, 400);
            angular.element($('#angular-controller')).scope().clearPersonData();
        });
    });
    function showModal() {
        $('.modal-bg').fadeIn(300);
    }
    function showModalBg() {
        $('.add-member-modal').fadeIn(300);
    }
    function hideModals() {
        $('.modal-bg').fadeOut(300);
        $('.add-member-modal').fadeOut(300);
    }
</script>
