﻿@model IEnumerable<MesjidCommittee.Models.CommunityMember>

@{
    ViewBag.Title = "Index";
}

<h2>Community Members</h2>
<div class="margin-top-10 button-link-a">
    @Ajax.ActionLink(
    "Add member", 
    "AddMember", 
    new { }, 
    new AjaxOptions { 
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "add-member-div",
        OnSuccess = "showModal()"
    }, 
    new { @class = "button-link", @id = "add-member-button" })
</div>

<div class="empty-section-50"></div>
<div class="table-wrapper">
<div class="table">
    <div class="table-row header-row">
        <div class="table-column header-column">Name</div>
        <div class="table-column header-column">Phone</div>
        <div class="table-column header-column">Email</div>
        <div class="table-column header-column"></div>

    </div>
    @{
        int count = 0; 
    }
    @foreach (var item in Model) 
    {
        <div class='table-row row-@count'>
            <div class="table-column">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</div>
            <div class="table-column">@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
            <div class="table-column">@Html.DisplayFor(modelItem => item.Email)</div>
            <div class="table-column">
                <div class="link centered">@Html.ActionLink("Edit", "Edit", new { id = item.CommunityMemberID }, new { @class="link"}) 
                @Html.ActionLink("Delete", "Delete", new { id=item.CommunityMemberID }, new { @class="link"})
                    </div>
            </div>
        </div>
        count += 1;
        if (count == 2)
        {
            count = 0;
        }
    }

</div>
    </div>
<div class="empty-section-100"></div>
<div class="modal-bg"></div>
<div id="add-member-div" class="add-member-modal">

</div>

<script>
    $(document).ready(function () {
        $('.modal-bg').on('click', function () {
            hideModals();
        });
        $('#add-member-button').on('click', function () {
            showModalBg();
        });
    });
    function showModal() {
        $('.modal-bg').fadeIn(300);
    }
    function showModalBg() {
        $('.add-member-modal').fadeIn(300);
    }
    function hideModals() {
        $('.modal-bg').fadeOut(300);
        $('.add-member-modal').fadeOut(300);
    }
</script>
